<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Homepage</h1>

    {% if current_user.is_authenticated %}
        {% if current_user.username %}
            <p>Bentornato, {{ current_user.username }}!</p>
        {% else %}
            <p>Utente loggato con Google email: {{ current_user.email }}</p>
        {% endif %}
    {% endif %}

    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>

    <p>Inserisci il nome di una città</p>

    <form action="/open_street_map" method="post">
        <input type="text" name="city_name">
        <button type="submit">Cerca</button>
    </form>

    <div id="messages">
        {% for message in messages %}
            <div>
                <p>{{ message }}</p>
                <br />
            </div>
        {% endfor %}
    </div>

    <div id="city_results">
        {% for city in cities %}
            <form action="/iss" method="post">
                <input type="hidden" name="lat" value="{{ city.lat }}">
                <input type="hidden" name="lon" value="{{ city.lon }}">
                <button type="submit">{{ city.display_name }}</button>
            </form>
        {% endfor %}
    </div></br>

    <div id="map" style="height: 400px;"></div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var map = L.map('map').setView([0, 0], 3); // Imposta la vista iniziale della mappa
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 18,}).addTo(map); // Aggiungi un layer alla mappa
        var issMarker = L.marker([0, 0]).addTo(map); // Crea un marker per la ISS

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('update_position', function(data) {
            updateMap(data.latitude, data.longitude);
        });

        function updateMap(latitude, longitude) {
            L.circle([latitude,longitude], { radius: 200, color: 'red' }).addTo(map); 
            issMarker.setLatLng([latitude, longitude]); 
            map.setView([latitude, longitude], map.getZoom());
        }
    </script>
</body>
</html>
