<!DOCTYPE html>
<html>
<head>
    <title>ISS position prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@joergdietrich/leaflet.terminator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <header>
        <h1>ISS position prediction</h1>
        <div class="user">
            {% if current_user.is_authenticated %}
                {% if current_user.username %}
                    <p>{{ current_user.username }} <i class="fa fa-user"></i></p>
                {% else %}
                    <p>{{ current_user.email }}</p>
                {% endif %}
            {% endif %}
            <div id="menu">
                <a href="/" id="usersBtn">HOME - </a>
                <a href="/users" id="usersBtn">USERS - </a>
                <a href="/documentation" id="docuBtn">DOCUMENTATION - </a>
                <a href="/logout" id="logoutBtn">LOGOUT</a>
            </div>
        </div>
    </header>

    <form action="/open_street_map" method="post" id="openstreetSearch">
        <input type="text" name="city_name" placeholder="Insert location name">
        <button type="submit">OK</button>
    </form>

    <div id="messages">
        {% for message in messages %}
            <div>
                <p>{{ message }}</p>
                <br />
            </div>
        {% endfor %}
    </div>

    <div id="cityResults">
        {% for city in cities %}
            <form action="/iss" method="post">
                <input type="hidden" name="lat" value="{{ city.lat }}">
                <input type="hidden" name="lon" value="{{ city.lon }}">
                <button type="submit">{{ city.display_name }}</button>
            </form>
        {% endfor %}
    </div></br>

    <div id="ISS">
        <div id="map" style="height: 400px;"></div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P9C25Un7xaM?autoplay=1&controls=0&rel=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- <div id="youtubeClickMemo">Click YOUTUBE button to see and listen ISS webcam !</div> -->
    </div>
    <script>
        var map = L.map("map");
        map.on('load', addOverlayToMap);
        map.setView([0, 0], 3);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 18,
        }).addTo(map);
        var issMarker = L.marker([0, 0]).addTo(map);
        var terminator = L.terminator().addTo(map);
        setInterval(function () {
                console.log('darness or light update');
                terminator.setTime();
            }, 1000 * 60);

        var socket;
        if (window.location.href.includes('localhost')) {
            socket = io.connect("http://" + document.domain + ":" + location.port);
        } else {
            socket = io.connect('https://iispy-10c39b2f879c.herokuapp.com');
        }

        socket.on("update_position", function (data) {
            console.log('update_position received');
            updateMap(data.latitude, data.longitude);
        });

        localStorage.setItem("ISSnotYet", "");
        
        //funcs
        function updateMap(latitude, longitude) {
            console.log('update map');
            L.circle([latitude, longitude], { radius: 200, color: "red" }).addTo(map);
            issMarker.setLatLng([latitude, longitude]);
            map.setView([latitude, longitude], map.getZoom());
            if (localStorage.getItem("ISSnotYet") !== null) {
                removeISSoverlay();
                localStorage.removeItem("ISSnotYet");                
            }
        }
        function addOverlayToMap() {
            var overlayDiv = document.createElement('div');
            overlayDiv.id = 'overlayMap';
            // var overlayText = document.createElement('div');
            // overlayText.id = 'overlayMap_text';
            // overlayText.innerHTML = 'ISS tracking.. wait please';
            var overlaySpinnerContainer = document.createElement('div');
            overlaySpinnerContainer.id = 'overlayMap_spinner_container';
            var overlaySpinner = document.createElement('div');
            overlaySpinner.id = 'overlayMap_spinner';
            overlaySpinnerContainer.appendChild(overlaySpinner);
            overlayDiv.appendChild(overlaySpinnerContainer);
            // overlayDiv.appendChild(overlayText);
            var mapPane = document.querySelector('#map .leaflet-map-pane');
            mapPane.parentNode.insertBefore(overlayDiv, mapPane);
        }
        function removeISSoverlay() {
            document.getElementById("overlayMap").remove();
            document.querySelectorAll('.leaflet-top.leaflet-left')[0].style.display = 'block';
            document.querySelectorAll('.leaflet-bottom.leaflet-right')[0].style.display = 'block';
        }
    </script>
</body>
</html>
