<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form></br>

    <h2>Google login</h2>
    <form action="/login/google" method="post">
        <input type="submit" value="Google login">
    </form>

    <h2>Create user</h2>
    <form action="/users/new" method="post">
        <input type="submit" value="Create user">
    </form>
</body>
</html>
